In [1]:
#pip install numpy

In [2]:
#pip install pandas

In [3]:
#pip install scikit-learn

In [1]:
import numpy as np1
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [2]:
data=pd.read_csv("diabetes.csv")

In [3]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
data.shape

(768, 9)

In [5]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [6]:
data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [7]:
data.groupby("Outcome").mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [8]:
X=data.drop(columns = "Outcome", axis=1)
Y=data["Outcome"]

# Data Standardisation

In [9]:
#scaler=StandardScaler()

In [10]:
#s_data=scaler.fit_transform(X)

In [11]:
#X=s_data
X=data.drop(columns = "Outcome", axis=1)
y=data["Outcome"]

In [12]:
#scores=[]
#for i in range(1,1000):
#    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,stratify=y,random_state=i)
#    classifier=svm.SVC(kernel='linear')
#    classifier.fit(X_train,y_train)
#    y_pred=classifier.predict(X_test)
#   scores.append(accuracy_score(y_pred,y_test))
#print(scores.index(max(scores)))

In [13]:
#max(scores)

In [36]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,stratify=y,random_state=20)
classifier=svm.SVC(kernel='linear')
classifier.fit(X_train,y_train)
y_pred=classifier.predict(X_test)
acc_score=accuracy_score(y_pred,y_test)
acc_score
type(X_test)
X_test

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
162,0,114,80,34,285,44.2,0.167,27
620,2,112,86,42,160,38.4,0.246,28
233,4,122,68,0,0,35.0,0.394,29
438,1,97,70,15,0,18.2,0.147,21
660,10,162,84,0,0,27.7,0.182,54
...,...,...,...,...,...,...,...,...
123,5,132,80,0,0,26.8,0.186,69
222,7,119,0,0,0,25.2,0.209,37
52,5,88,66,21,23,24.4,0.342,30
541,3,128,72,25,190,32.4,0.549,27
439,6,107,88,0,0,36.8,0.727,31

In [38]:
input = pd.DataFrame([[0,137,40,35,168,43.1,2.288,33]],columns=['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age'])
output=classifier.predict(input)

In [40]:
output[0]

1

In [41]:
import pickle

In [42]:
pickle.dump(classifier,open('svm.pkl','wb'))